@import 'reset';
@import 'colors';

@font-face {
  font-family: 'Beaufortlol';
  src: url('./../../fonts/beaufortforlol-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beaufortlol Italic';
  src: url('../../fonts/beaufortforlol-italic.otf');
  font-weight: normal;
  font-style: italic;
}

// index
body{
  font-family: monospace;
  background-image: url('./background.jpg');
  background-size: cover;
}

h1 {
    font-family: 'Beaufortlol', monospace,sans-serif;
    color:$lol;
    text-align: center;
    font-size: 100px;
    margin: 10px;
    text-shadow: 2px 2px 4px $loldark; 
}

#app-wrapper{
  width: 60%;
  margin: 0 auto;
  background: #fff;
  border-top: 3px solid $lolaccent;
  padding: 10px;
  border-radius: 2px;
  color: #000;
}

#app-wrapper a{
  text-decoration: none;
  color:black;
}


#app-list ul{
  list-style-type: none;
  padding: 4px;
  background-color: rgba(0,0,0,0.1);
  border-left: 1px solid rgba(84,84,84,0.3);
  border-top: 1px solid rgba(84,84,84,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-right: 1px solid rgba(255,255,255,0.6);
  box-sizing: border-box;
  font-size: 1.4em;
}

.success {
  color: $lolaccent;
  position: absolute;
  left:50%;
  top:165px;
  font-size:1.4em;
}

.yep
{
  min-height: 50px;
  min-width: 300px;
}

.success-enter {
  opacity: 0.01;
  color: darkred;
  width: 0px;
}

.success-enter.success-enter-active {
  opacity: 1;
  color : $lolaccent;
  width: 100px;
  transition: 500ms cubic-bezier(0.4, 0.0, 1, 1);
}

.success-leave {
  opacity: 1;
  color: $lolaccent;
  width: 100px;
}

.success-leave.success-leave-active {
  opacity: 0.01;
  transition: 500ms cubic-bezier(0.0, 0.0, 0.2, 1);
}



.yop
{
  opacity :1;
  visibility: visible;
}
.liste-enter {
  opacity: 0.01;
  visibility: hidden;
}

.liste-enter.liste-enter-active {
  opacity: 1;
  visibility: visible;
  transition: 500ms cubic-bezier(0.4, 0.0, 1, 1);
}

.liste-leave {
  opacity: 1;
  visibility: visible
}

.liste-leave.liste-leave-active {
  opacity: 0.01;
  visibility: hidden;
  transition: 500ms cubic-bezier(0.0, 0.0, 0.2, 1);
}